# Django core settings
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.5
# MongoDB / djongo
DB_NAME=aei_db
MONGODB_HOST=mongodb://localhost:27017
MONGODB_MAX_POOL=50
MONGODB_MIN_POOL=5
MONGODB_MAX_IDLE_MS=30000
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
MONGODB_CONNECT_TIMEOUT_MS=10000
MONGODB_SOCKET_TIMEOUT_MS=20000

# Email / SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_HOST_USER=admin.hrms@arshee-enginv.com
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True

# Biometric sync command
EASYTIME_BASE_URL=http://122.169.35.8:8081
EASYTIME_USERNAME=
EASYTIME_PASSWORD=